openapi: 3.0.0
info:
  title: Demographics API
  description: >-
    AtData API's help you improve the quality and depth of your customer data by
    enabling you to quickly and securely verify and enhance email addresses.
  version: 1.0.0
servers:
- url: https://api.atdata.com
paths:
  /v5/td:
    get:
      summary: Demographics Append
      operationId: demographics-append
      tags:
        - Demographics
      parameters:
        - in: query
          name: email
          example: demo@atdata.com
          required: false
          schema:
            type: string
          description: >-
            The raw email address. It must be [URL encoded](https://www.w3schools.com/tags/ref_urlencode.ASP).

            <small>Example: demo+email@atdata.com encoded outputs to: demo%2Bemail%40atdata.com</small>
        - in: query
          name: sha1_email
          required: false
          schema:
            type: string
          description: >-
            [SHA-1](https://en.wikipedia.org/wiki/SHA-1) hashed email. The email must be lower case and stripped of white spaces before being hashed.

            <small>Example: demo@atdata.com hashed outputs to: 1d604932232d089ab1a1cad148f20d942db666a7</small>
        - in: query
          name: md5_email
          required: false
          schema:
            type: string
          description: >-
            [MD5](https://en.wikipedia.org/wiki/MD5) hashed email. The email must be lower case and stripped of white spaces before being hashed.

            <small>Example: demo@atdata.com hashed outputs to: 3cf1e81405a4bdf4f7e3a2453cd441c3</small>
        - in: query
          name: first
          example: Tower
          required: false
          schema:
            type: string
          description: First name of the person.
        - in: query
          name: middle
          required: false
          schema:
            type: string
          description: Middle name of the person (optional).
        - in: query
          name: last
          example: Data
          required: false
          schema:
            type: string
          description: Last name of the person.
        - in: query
          name: street
          example: 33 Irving Pl Ste 4048
          required: false
          schema:
            type: string
          description: Street number & name.
        - in: query
          name: city
          example: New York
          required: false
          schema:
            type: string
          description: Name of the city.
        - in: query
          name: state
          example: NY
          required: false
          schema:
            type: string
          description: Two-letter state abbreviation.
        - in: query
          name: zip
          example: "10003"
          required: false
          schema:
            type: string
          description: Five-digit zip code, optionally followed by a four-digit extension separated by a dash.
        - in: query
          name: format
          required: false
          schema:
            type: string
          description: >-
            You can change the output format to print responses as HTML
            within a browser. Example: format=html.
        - in: query
          name: fields
          required: false
          schema:
            type: string
          description: >-
            A comma-separated list of the data fields you want returned. By
            default, all available fields are returned.
        - in: query
          name: api_key
          required: true
          example: <YOUR_API_KEY>
          schema:
            type: string
          description: Your AtData API key.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  age:
                    type: string
                    description: The age range of the person.
                  gender:
                    type: string
                    description: The gender of the person.
                  zip:
                    type: string
                    description: The ZIP code of the person's address.
                  household_income:
                    type: string
                    description: The household income range of the person.
                  net_worth:
                    type: string
                    description: The approximate net worth of the household.
                  home_market_value:
                    type: string
                    description: Market value of household's home.
                  home_owner_status:
                    type: string
                    description: The home ownership status of the person.
                  length_of_residence:
                    type: string
                    description: Number of years household has spent in the current residence.
                  marital_status:
                    type: string
                    description: The marital status of the person.
                  presence_of_children:
                    type: string
                    description: Indicates if there are children present in the household.
                  education:
                    type: string
                    description: The education level of the person.
                  occupation:
                    type: string
                    description: The occupation of the person.
                  rfm_offline_avg_days:
                    type: string
                    description: Recency, Frequency & Monetary Value - The average number of days between offline purchases for this household.
                  rfm_online_avg_days:
                    type: string
                    description: Recency, Frequency & Monetary Value - The average number of days between online purchases for this household.
                  rfm_avg_dollars:
                    type: string
                    description: Recency, Frequency & Monetary Value - The average dollar amount the household spends per order.
                  rfm_last_order:
                    type: string
                    description: Recency, Frequency & Monetary Value - The date of the last order made by the household in YYYY-MM-DD format.
                  life_stage_segment:
                    type: string
                    description: The life stage segment of the person.
                  life_stage_group:
                    type: string
                    description: The life stage group of the person.
                  financial_segment:
                    type: string
                    description: The financial segment of the person.
                  financial_group:
                    type: string
                    description: The financial group of the person.
                  interests:
                    type: object
                    description: Interest and purchase data features. See full list of available values in the [Demographics Response Object](/reference/demographics-response-object) page.
                example:
                  age: "25-34"
                  gender: "Female"
                  zip: "94105"
                  household_income: "25k-35k"
                  net_worth: "50k-100k"
                  home_market_value: "100k-150k"
                  home_owner_status: "Rent"
                  length_of_residence: "2 Years"
                  marital_status: "Single"
                  presence_of_children: "No"
                  education: "Completed Graduate School"
                  occupation: "White Collar Worker"
                  rfm_offline_avg_days: "30"
                  rfm_online_avg_days: "15"
                  rfm_avg_dollars: "100"
                  rfm_last_order: "2022-12-01"
                  life_stage_segment: "Career Building"
                  life_stage_group: "Taking Hold"
                  financial_segment: "Spontaneous Spenders"
                  financial_group: "City Spotlight"
                  interests:
                    automotive: true
                    books: true
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: string
              examples:
                missing_parameters:
                  summary: Missing parameters
                  value: Missing query parameter(s).
                invalid_email:
                  summary: Invalid email
                  value: Value of parameter 'email' is invalid.
  /v5/ei/bulk:
    post:
      summary: Bulk Demographics Append
      operationId: bulk-demographics-append
      tags:
        - Demographics
      parameters:
        - in: query
          name: api_key
          example: <YOUR_API_KEY>
          required: true
          schema:
            type: string
          description: Your AtData API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                    description: The email address of the person
                    example: demo@atdata.com
                  first:
                    type: string
                    description: First name of the person
                    example: Tower
                  last:
                    type: string
                    description: Last name of the person
                    example: Data
                  middle:
                    type: string
                    description: Middle name of the person (optional)
                  street:
                    type: string
                    example: 33 Irving Pl Ste 4048
                    description: Street number & name
                  city:
                    type: string
                    description: Name of the city
                  state:
                    type: string
                    description: Two-letter state abbreviation
                    example: New York
                  zip:
                    type: string
                    example: "10003"
                    description: >
                      Five-digit zip code, optionally followed by a four-digit extension separated by a dash
              example:
                - email: sample@atdata.com
                  first: Caitlin
                  last: Plackard
                - email: unknown_email@domain.com
                - email: demo@atdata.com
                - email: NOT_AN_EMAIL_ADDRESS
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    age:
                      type: string
                      description: The age range of the person.
                    gender:
                      type: string
                      description: The gender of the person.
                    zip:
                      type: string
                      description: The ZIP code of the person's address.
                    household_income:
                      type: string
                      description: The household income range of the person.
                    net_worth:
                      type: string
                      description: The approximate net worth of the household.
                    home_market_value:
                      type: string
                      description: Market value of household's home.
                    home_owner_status:
                      type: string
                      description: The home ownership status of the person.
                    length_of_residence:
                      type: string
                      description: Number of years household has spent in the current residence.
                    marital_status:
                      type: string
                      description: The marital status of the person.
                    presence_of_children:
                      type: string
                      description: Indicates if there are children present in the household.
                    education:
                      type: string
                      description: The education level of the person.
                    occupation:
                      type: string
                      description: The occupation of the person.
                    rfm_offline_avg_days:
                      type: string
                      description: Recency, Frequency & Monetary Value - The average number of days between offline purchases for this household.
                    rfm_online_avg_days:
                      type: string
                      description: Recency, Frequency & Monetary Value - The average number of days between online purchases for this household.
                    rfm_avg_dollars:
                      type: string
                      description: Recency, Frequency & Monetary Value - The average dollar amount the household spends per order.
                    rfm_last_order:
                      type: string
                      description: Recency, Frequency & Monetary Value - The date of the last order made by the household in YYYY-MM-DD format.
                    life_stage_segment:
                      type: string
                      description: The life stage segment of the person.
                    life_stage_group:
                      type: string
                      description: The life stage group of the person.
                    financial_segment:
                      type: string
                      description: The financial segment of the person.
                    financial_group:
                      type: string
                      description: The financial group of the person.
                    interests:
                      type: object
                      description: Interest and purchase data features. See full list of available values in the [Demographics Response Object](/reference/demographics-response-object) page.
                example:
                  - age: "25-34"
                    gender: "Female"
                    zip: "94105"
                    household_income: "25k-35k"
                    net_worth: "50k-100k"
                    home_market_value: "100k-150k"
                    home_owner_status: "Rent"
                    length_of_residence: "2 Years"
                    marital_status: "Single"
                    presence_of_children: "No"
                    education: "Completed Graduate School"
                    occupation: "White Collar Worker"
                    rfm_offline_avg_days: "30"
                    rfm_online_avg_days: "15"
                    rfm_avg_dollars: "100"
                    rfm_last_order: "2022-12-01"
                    life_stage_segment: "Career Building"
                    life_stage_group: "Taking Hold"
                    financial_segment: "Spontaneous Spenders"
                    financial_group: "City Spotlight"
                    interests:
                      automotive: true
                      books: true
                  - gender: Male
                  - {}
                  - error_code: 400
                    error_msg: Invalid identifier
  