openapi: 3.0.0
info:
  title: Feedback API
  version: 1.0.0
  description: Provides a way for users to submit feedbacks about fraudulent activities.
  contact:
    email: emailexperts@atdata.com
servers:
  - url: https://api.atdata.com
paths:
  /feedback/v1:
    post:
      operationId: submit-feedback
      summary: Submit Feedback
      description: Submits feedback about identified fraud through a tab-separated file.
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
          description: API key for accessing the service.
          example: '<YOUR_API_KEY>'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: A tab-separated file containing feedback data.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitFeedbackResponse'
        '202':
          $ref: '#/components/schemas/Accepted202'
        '400':
          $ref: '#/components/schemas/BadRequest400'
        '401':
          $ref: '#/components/schemas/Unauthorized401'
        '403':
          $ref: '#/components/schemas/AccessDenied403'
        '415':
          $ref: '#/components/schemas/InvalidContentType415'
        '422':
          $ref: '#/components/schemas/InvalidFile422'
        '500':
          $ref: '#/components/schemas/InternalServerError500'
        '502':
          $ref: '#/components/schemas/BadGateway502'             
components:
  schemas:
    SubmitFeedbackResponse:
      type: object
      properties:
        total_records:
          type: integer
          description: Total number of records processed.
          example: 2
        skipped_records:
          type: integer
          description: Number of records skipped.
          example: 0
    Accepted202:
      description: Request accepted.
    BadRequest400:
      description: Bad request. Either an invalid parameter exists or the data expected is not present.
    Unauthorized401:
      description: Unauthorized. Check you're using the right api_key.
    AccessDenied403:
      description: Access denied. Your query limit has been exceeded, or the API key provided does not have the required permissions.
    InvalidContentType415:
      description: Invalid Content-Type submitted.
    InvalidFile422:
      description: Invalid file. Verify file has proper name and format.
    InternalServerError500:
      description: Internal server error. Please contact support.
    BadGateway502:
      description: Bad gateway. The API is not available. Please try again later or contact support.

