openapi: 3.0.0
info:
  title: AtData Fraud Prevention API
  version: 1.0.0
  description: Provides detailed information about email addresses and their risk and fraud correlation.
  contact:
    email: emailexperts@atdata.com
servers:
  - url: https://api.atdata.com/fr

paths:
  /fr:
    get:
      tags: 
        - Fraud Prevention
      description: Retrieves fraud risk information based on the provided email and optional personal data.
      summary: Retrieve Fraud Risk Information
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
          description: API key for accessing the service.
          example: 1234567890abcdef
        - in: query
          name: email
          required: true
          schema:
            type: string
          description: The email address to be evaluated for fraud. ⚠️ **URL encoding required**. ⚠️
          example: demo@atdata.com
        - in: query
          name: reference_id
          schema:
            type: string
          description: Internal identifier for the email or transaction. ⚠️ **URL encoding required**. ⚠️
          example: a4840850-98be-46de-b391-3d52732d27c4
        - in: query
          name: first
          schema:
            type: string
          description: First name of the individual.
          example: Joe
        - in: query
          name: last
          schema:
            type: string
          description: Last name of the individual.
          example: Bloggs
        - in: query
          name: street
          schema:
            type: string
          description: First line of the postal address, including number.
          example: 123 Main St
        - in: query
          name: city
          schema:
            type: string
          description: City of the postal address.
          example: New York
        - in: query
          name: state
          schema:
            type: string
          description: State of the postal address.
          example: NY
        - in: query
          name: zip
          schema:
            type: string
          description: ZIP or postcode of the postal address.
          example: P2P6B3P
        - in: query
          name: country
          schema:
            type: string
          description: 2 letter country code, [ISO 3166 standard alpha-2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          example: US
        - in: query
          name: phone
          schema:
            type: string
          description: Phone number, including country code.
          example: '16467421771'
        - in: query
          name: ip
          schema:
            type: string
          description: User's IP address.
          example: '1.2.3.4'
        - in: query
          name: user_agent
          schema:
            type: string
          description: User agent of the client.
          example: python-requests F2.27.1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudRetrieveResponse'
  /feedback/v1:
    post:
      tags: 
        - Fraud Prevention
      summary: Submit Feedback
      description: Submits feedback about identified fraud through a tab-separated file.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: A tab-separated file containing feedback data.
      responses:
        200:
          description: Feedback submitted successfully.
components:
  schemas:
    FraudRetrieveResponse:
      type: object
      properties:
        risk:
          type: object
          description: Risk related data for the given query based on the provided email and associated details.
          properties:
            query_id:
              type: string
              description: Unique identifier for the response provided, can be used for referencing in subsequent queries or for troubleshooting.
              example: "2744dd5d0acb475b81687d366fff4c48"
            score:
              type: integer
              description: A machine learning-based score from 0 to 100 that assesses the risk associated with the email, with higher scores indicating higher risk.
              example: 50
            tumbling_risk:
              type: integer
              description: A score from 0 to 3 indicating the presence of multiple variations of the same email address, with higher scores indicating more variations detected.
              example: 0
            ip:
              type: object
              description: Details about the IP address associated with the email query, providing insights into the location and network characteristics.
              properties:
                routing_type:
                  type: string
                  description: Specifies how the connection is routed through the Internet, which can indicate the proximity of the user to the public IP address.
                  example: "fixed"
                organization:
                  type: string
                  description: Name of the organization managing the IP, often indicating the type of entity, such as a corporation, government, or educational institution.
                  example: "atdata"
                proxy_type:
                  type: string
                  description: Type of proxy used, if any, providing insights into the anonymity or masking techniques that may be employed.
                  example: "tor"
                hosting_facility:
                  type: boolean
                  description: Indicates whether the IP address is associated with a hosting facility, which can suggest usage by cloud services or data centers.
                  example: true
                latitude:
                  type: number
                  format: double
                  description: Geographical latitude of the identified IP location.
                  example: 38.89768
                longitude:
                  type: number
                  format: double
                  description: Geographical longitude of the identified IP location.
                  example: -77.03651
            domain:
              type: object
              description: Information pertaining to the domain of the email used in the query, providing a risk assessment of the domain itself.
              properties:
                domain_risk_score:
                  type: integer
                  description: A score from 0 to 10 assessing the risk associated with the email domain, with higher scores indicating higher risk.
                  example: 5
            postal:
              type: object
              description: Details about the postal information provided in the query and its correlation with the email address data.
              properties:
                first_name_match:
                  type: string
                  description: Indicates if the provided first name matches records associated with the email.
                  example: "match"
                last_name_match:
                  type: string
                  description: Indicates if the provided last name matches records associated with the email.
                  example: "no_match"
                street_match:
                  type: string
                  description: Indicates if the provided street address matches records associated with the email.
                  example: "no_data"
                city_match:
                  type: string
                  description: Indicates if the provided city matches records associated with the email.
                  example: "no_data"
                zip_match:
                  type: string
                  description: Indicates if the provided zip code matches records associated with the email.
                  example: "no_data"
                deliverability:
                  type: string
                  description: Indicates the deliverability status of the postal address as determined by postal services.
                  example: "undeliverable"
                deliverability_substatus:
                  type: string
                  description: Provides further details on the primary reason for the deliverability status.
                  example: "missing_primary"
                address_type:
                  type: string
                  description: Describes the type of the address provided, such as Street, PO Box, Rural Route, etc.
                  example: "Street"
        eam:
          type: object
          description: Email Activity Metrics, which evaluate the history and usage patterns of the email address.
          properties:
            date_first_seen:
              type: string
              format: date
              description: The first date the email address was observed by AtData's systems.
              example: "2016-08-09"
            longevity:
              type: integer
              description: A score from 0 to 3 indicating how long the email address has been known, with higher values indicating a longer history.
              example: 3
            velocity:
              type: integer
              description: A score from 0
